@charset "UTF-8";
/*====================================

Bootstrap SASSカスタマイズファイル

====================================*/
/*
Typography
———————————————*/
/*
Colors
———————————————*/
body {
  height: 100%;
  box-sizing: content-box;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  height: 40px;
  transition: all 0.5s ease-in-out;
  border-radius: 10px 50px 10px 50px;
}

.nav-item {
  border-right: 1px solid #0005;
}

.nav-item:last-child {
  border-right: none;
}

.nav-link {
  padding: 0rem !important;
  margin: 0 0.5rem;
}

.nav-link:hover {
  border-bottom: 1px solid #ebcd7a;
}

.navbar-opacity {
  background: #ffe4d166;
}

@media screen and (max-width: 576px) {
  .navbar-opacity {
    background: #ffe4d100;
  }

  .navbar-collapse {
    background: #ffed4a;
    padding-left: 2rem;
    padding-bottom: 1rem;
    border-radius: 10px 50px 10px 50px;
  }
}
.navbar-brand {
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

article {
  height: auto;
  min-height: 100vh;
}

section {
  width: 100%;
  padding: 0 10%;
  max-width: 1200px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn-rounded {
  border-radius: 10rem;
}

.btn-outline-primary {
  border-width: 2px;
}

.btn-outline-primary:hover {
  color: #fff;
  background: #ffbc00 !important;
  border-color: #ffbc00 !important;
}

.b-down-arrow {
  position: absolute;
  bottom: 0;
  width: 9px;
  height: 9px;
  border: 3px solid;
  border-color: transparent transparent #ebcd7a #ebcd7a;
  transform: rotate(-45deg);
}
.b-down-arrow.m-left {
  left: -5px;
}
.b-down-arrow.m-right {
  right: -5px;
}

.title-bottom {
  display: inline-block;
  padding-bottom: 0.2rem;
  border-bottom: 2px dashed #9d6800;
}

.b-title-box {
  position: relative;
  text-align: center;
  margin: auto;
}
.b-title-box .e-title-back {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #c7aa00;
}
.b-title-box .e-title {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.b-title-box .e-title-border {
  width: 50px;
  height: 3px;
  background: #c7aa00;
  border-radius: 10px;
  margin: 2rem auto;
}

.b-top-square {
  position: fixed;
  bottom: -10%;
  right: -10%;
  width: 40%;
  padding-top: 40%;
  background-size: cover;
  opacity: 0.2;
  transform: translate(0%, 0%);
}
.b-top-square > .e-square {
  position: absolute;
  top: 0;
  left: 0;
}
.b-top-square > .e-square.m-back {
  z-index: -30;
  width: 100%;
  height: 100%;
  background: #ffdaa3;
  box-shadow: 0px 0px 13px 2px #af4242a0;
  -webkit-animation: squareRotate360 1000s infinite;
          animation: squareRotate360 1000s infinite;
  transform-origin: center center;
}
.b-top-square > .e-square.m-midle {
  z-index: -20;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translateX(-50%);
  background: #ffb287;
  box-shadow: 0px 0px 10px 3px #af4242a0;
  -webkit-animation: squareRotate360 400s infinite;
          animation: squareRotate360 400s infinite;
  rotate: 50;
  transform-origin: center center;
}
.b-top-square > .e-square.m-front {
  z-index: -10;
  width: 10%;
  height: 50%;
  position: absolute;
  top: 0%;
  left: 50%;
  background: #f29967;
  box-shadow: 0px 0px 8px 3px #af4242a0;
  -webkit-animation: squareRotate360 170s infinite;
          animation: squareRotate360 170s infinite;
  transform-origin: center 100%;
}

@media screen and (max-width: 576px) {
  .b-top-square {
    position: fixed;
    bottom: -10%;
    right: -10%;
    width: 60%;
    padding-top: 60%;
    background-size: cover;
    opacity: 0.2;
    transform: translate(0%, 0%);
  }
  .b-top-square > .e-square {
    position: absolute;
    top: 0;
    left: 0;
  }
  .b-top-square > .e-square.m-back {
    z-index: -30;
    width: 100%;
    height: 100%;
    background: #ffdaa3;
    box-shadow: 0px 0px 13px 2px #af4242a0;
    -webkit-animation: squareRotate360 1000s infinite;
            animation: squareRotate360 1000s infinite;
    transform-origin: center center;
  }
  .b-top-square > .e-square.m-midle {
    z-index: -20;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translateX(-50%);
    background: #ffb287;
    box-shadow: 0px 0px 10px 3px #af4242a0;
    -webkit-animation: squareRotate360 400s infinite;
            animation: squareRotate360 400s infinite;
    rotate: 50;
    transform-origin: center center;
  }
  .b-top-square > .e-square.m-front {
    z-index: -10;
    width: 10%;
    height: 50%;
    position: absolute;
    top: 0%;
    left: 50%;
    background: #f29967;
    box-shadow: 0px 0px 8px 3px #af4242a0;
    -webkit-animation: squareRotate360 170s infinite;
            animation: squareRotate360 170s infinite;
    transform-origin: center 100%;
  }
}
@-webkit-keyframes squareRotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes squareRotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.b-site-title-box {
  height: 7rem;
}
.b-site-title-box > .e-site-title {
  position: absolute;
  left: 50%;
  width: 30rem;
  height: 10rem;
  border-radius: 20px 5px 20px 5px;
}
.b-site-title-box > .e-site-title.m-bg {
  transform: translate(-50%, -50%);
  background: #fff259;
  filter: drop-shadow(1px 1px 4px rgba(43, 55, 55, 0.3));
}
.b-site-title-box > .e-site-title.m-opacity {
  transform: translate(-55%, -46%);
  background: #ffae3544;
}
.b-site-title-box > .e-site-title.m-border {
  transform: translate(-53%, -56%);
  opacity: 0.7;
  border: 3px dashed #ffbf4a;
}
.b-site-title-box > .e-site-title.m-stroke {
  transform: translate(-50%, -52%);
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0 5px #4b0900;
  -webkit-text-stroke: 2px #fff;
  text-align: center;
}
.b-site-title-box > .e-site-title.m-title {
  transform: translate(-50%, -52%);
  font-size: 3.5rem;
  color: #df3c17;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .b-site-title-box > .e-site-title {
    width: 80%;
  }
  .b-site-title-box > .e-site-title.m-stroke, .b-site-title-box > .e-site-title.m-title {
    font-size: 3rem;
  }
}
.b-site-text-box .e-play-game {
  font-weight: bold;
}
.b-site-text-box .b-top-down-arrow {
  color: #ffbc00;
  -webkit-animation: btnDown 2s infinite;
          animation: btnDown 2s infinite;
}

.down-icon {
  font-size: 3rem;
}

@-webkit-keyframes btnDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes btnDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.b-game-conteiner {
  background: #ffee79;
  background: #fffc9c70;
  position: relative;
}
.b-game-conteiner .b-game-box {
  text-align: center;
}
.b-game-conteiner .b-game-box > .e-text {
  font-weight: bold;
}
.b-game-conteiner .b-game-box .e-manual {
  width: 70px;
}
.b-game-conteiner .b-game-box .e-table-box {
  position: relative;
}
.b-game-conteiner .b-game-box .e-table-box .e-congratulations {
  background: linear-gradient(transparent 83%, #ff8c3e 50%);
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
  opacity: 0;
}
.b-game-conteiner .b-game-box .e-table-box .e-congratulations.m-show {
  opacity: 1;
}
.b-game-conteiner .b-game-box .e-table-box > .e-game-table {
  border-collapse: collapse;
}
.b-game-conteiner .b-game-box .e-table-box > .e-game-table .e-box {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
}
.b-game-conteiner .b-game-box .e-table-box > .e-game-table .e-box.m-true {
  background-color: #ff4132;
}
.b-game-conteiner .b-game-box .e-table-box > .e-game-table .e-box.m-manual {
  width: 25px;
  height: 25px;
}
.b-game-conteiner .b-game-box .e-table-box > .e-timer {
  font-size: 1rem;
}
.b-game-conteiner .b-top-down-arrow {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  color: #3490dc;
  transition: all 1s;
  display: none;
}
.b-game-conteiner .b-top-down-arrow.m-show {
  display: block;
}
.b-game-conteiner .b-top-down-arrow.m-animation {
  -webkit-animation: btnDown 2s infinite;
          animation: btnDown 2s infinite;
}

.b-about-me {
  position: relative;
}
.b-about-me > .e-bg {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.b-about-me > .e-bg.m-white {
  background: #fafafa;
}
.b-about-me > .e-bg.m-zigzag {
  background-color: #cf7600;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d1d6ac' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.2;
}
.b-about-me > section {
  max-width: 1200px;
  z-index: 11;
}
.b-about-me > section > .b-profile-box {
  max-width: 600px;
  position: relative;
  margin: 1rem auto;
}
.b-about-me > section > .b-profile-box .e-img {
  width: 100%;
  height: 100%;
  margin: auto;
  aspect-ratio: 1;
  background-image: url("../img/my-image.jpg");
  background-size: cover;
  border-radius: 100px;
  background-repeat: no-repeat;
}
.b-about-me > section .b-links-box {
  width: 100%;
  text-align: center;
}
.b-about-me > section .b-links-box .e-new-line {
  position: relative;
  width: 3rem;
  margin-top: 1rem;
  border-right: 3px dashed #ebcd7a;
}
.b-about-me > section .b-links-box .b-title {
  margin: 2rem 0 0;
}
.b-about-me > section .b-links-box > .b-links {
  display: inline-block;
  min-width: 1px;
}
.b-about-me > section .b-links-box > .b-links .e-link {
  text-align: left;
  overflow-wrap: anywhere;
}
.b-about-me > section .b-links-box > .b-links .e-link > a {
  display: inline-block;
  text-decoration: none;
}

.b-work-article {
  position: relative;
  z-index: 1;
  background-color: #fffc9c70;
}
.b-work-article > .e-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.b-work-article > .e-bg.m-white {
  background: #fafafa;
}
.b-work-container {
  z-index: 20;
}
.b-work-container .b-image-box {
  position: relative;
  margin-top: 2rem;
}
.b-work-container .b-image-box .e-image {
  filter: drop-shadow(1px 1px 2px rgba(43, 55, 55, 0.3));
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding-top: 56.25%;
  background-position: 50% 50%;
  transition: all 0.2s ease;
}
.b-work-container .b-image-box .e-image:hover {
  filter: drop-shadow(1px 1px 6px rgba(43, 55, 55, 0.6));
  transform: scale(1.05);
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}
.modal-mask > .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-mask > .modal-wrapper > .modal-container {
  width: 80%;
  margin: 0px auto;
  padding: 20px 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  font-family: Helvetica, Arial, sans-serif;
}
.modal-mask > .modal-wrapper > .modal-container > .e-close-box {
  width: 100%;
  text-align: right;
}
.modal-mask > .modal-wrapper > .modal-container > .e-close-box > .btn-close {
  border: 2px solid orange;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.b-work-modal-box {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 80vh;
}
.b-work-modal-box > .e-describe-box {
  filter: drop-shadow(3px 3px 10px rgba(43, 55, 55, 0.3));
}
.b-work-modal-box > .e-describe-box > .e-title-box > .e-title {
  border-bottom: 3px dashed #ebcd7a;
}
.b-work-modal-box > .e-describe-box > .e-title-box > .e-title.e-title::before {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 0.5rem;
  background: #cf7600;
}
.b-work-modal-box > .e-describe-box > .e-tool-box > .e-tool-title {
  display: inline;
  border-bottom: 3px dashed #ebcd7a;
}
.b-work-modal-box > .e-describe-box > .e-git-box > .e-git,
.b-work-modal-box > .e-describe-box > .e-git-box > .e-url {
  display: block;
  text-decoration: none;
}
.b-work-modal-box > .e-image-box > .e-main-image {
  display: block;
  width: 100%;
  padding-top: 50%;
  filter: drop-shadow(0px 0px 5px rgba(43, 55, 55, 0.4));
  background-position-x: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/img/work/haizen_01.jpg");
}
.b-work-modal-box > .e-image-box > .e-thumbnail-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.b-work-modal-box > .e-image-box > .e-thumbnail-box > .e-thumbnail {
  width: 13.6666666667%;
  margin-left: 3%;
  padding-top: 13.6666666667%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://picsum.photos/id/237/200/300");
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px rgba(43, 55, 55, 0.4));
}

@media screen and (max-width: 576px) {
  .b-work-modal-box {
    overflow-y: scroll;
  }
}
.b-work-card {
  filter: drop-shadow(1px 1px 4px rgba(43, 55, 55, 0.3));
  position: relative;
  left: 30px;
}

#skill .b-skill-conteiner h3 {
  width: 100%;
}
#skill .b-skill-conteiner .e-skill-box {
  position: relative;
}
#skill .b-caption {
  font-size: 0.8rem;
}

#history {
  background: #fffc9c70;
  z-index: 1;
}

.b-history-container {
  position: relative;
}
.b-history-container > .e-show-all {
  display: block;
}
.b-history-container > .b-clock {
  position: fixed;
  top: 30%;
  left: 70%;
}
.b-history-container > .b-clock > .m-front {
  width: 20px;
  height: 500px;
  background-color: #9a3104;
  -webkit-animation: rotate360 60s steps(60) infinite;
          animation: rotate360 60s steps(60) infinite;
  transform-origin: center 80%;
}
.b-history-container .b-history-box {
  max-width: 700px;
  position: relative;
  margin-left: 3rem;
}
.b-history-container .b-history-box > .e-year {
  font-size: 2rem;
  margin-left: -1rem;
  font-family: "Playfair Display", serif;
}
.b-history-container .b-history-box > .e-year.e-year::before {
  content: "● ";
  font-size: 1rem;
  color: #ffe03e;
}
.b-history-container .b-history-box > .e-history-box {
  padding: 1rem 2rem 2rem;
  border-left: 3px dashed #ebcd7a;
}
.b-history-container .b-history-box > .e-history-box > .row {
  margin: 0;
}
.b-history-container .b-history-box > .e-history-box > .row .e-image {
  width: 150px;
  padding: 0.5rem;
}
.b-history-container .b-history-box > .e-history-box > .row .e-image > .e-image-bg {
  position: relative;
  background-color: #ffea81;
  border-radius: 1000px;
  width: 100%;
  padding-top: 100%;
  filter: drop-shadow(1px 1px 4px rgba(155, 122, 51, 0.6));
}
.b-history-container .b-history-box > .e-history-box > .row .e-image > .e-image-bg > .e-image-url {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding-top: 90%;
  background-size: cover;
}
.b-history-container .b-history-box > .e-history-box > .row .e-comment-box {
  display: flex;
  align-items: center;
}

.b-balloon {
  position: relative;
  display: inline-block;
  min-height: 5rem;
  padding: 0px 1rem;
  color: #555;
  background: #fff1aa;
  border-radius: 1rem;
  overflow-wrap: break-word;
}
.b-balloon > .e-comment {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.b-balloon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  z-index: 2;
}
.b-balloon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  z-index: 1;
}

@media screen and (max-width: 576px) {
  .b-history-container .b-history-box {
    margin: 0;
  }
  .b-history-container .b-history-box > .e-history-box {
    padding: 0.5rem;
  }
  .b-history-container .b-history-box > .e-history-box .e-title {
    padding: 0 1rem;
  }
  .b-history-container .b-history-box > .e-history-box > .row .e-image {
    margin: auto;
  }
}
.bg-jigsaw {
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

.b-form .e-error {
  color: red;
}
.b-form input {
  background: white;
}

.b-footer {
  z-index: 10;
  height: 5rem;
  background: #fffc9c70;
  text-align: center;
}
.b-footer > .e-footer {
  text-align: center;
}

.b-form-container section {
  background: white;
}

.check-cercle {
  position: relative;
  top: 2px;
  border: 2px solid #ccc;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  transform: rotate(45deg);
}
.check-cercle:after {
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  content: "";
  display: block;
  height: 9px;
  width: 5px;
  position: absolute;
  top: 1px;
  left: 3px;
}
.check-cercle.is-checked {
  border-color: #38c172;
}
.check-cercle.is-checked:after {
  border-color: #38c172;
  -webkit-animation: scaleUp 0.3s ease-in-out;
          animation: scaleUp 0.3s ease-in-out;
}

@-webkit-keyframes scaleUp {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
