/*====================================

Bootstrap SASSカスタマイズファイル

====================================*/

/*
Typography
———————————————*/
$font-family-sans-serif: "Kosugi Maru", sans-serif;
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-family-righteous: "Righteous", cursive;
$font-family-kosugi: "Kosugi Maru", sans-serif;
$font-family-playfair: "Playfair Display", serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

/*
Colors
———————————————*/
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
// $orange: #f6993f;
$orange: #ffbc00;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$text: #555;
// $dashed: #333;
$dashed: #9d6800;
$dash-size: 2px;
